name: Lists & Formatting
on:
  push:

jobs:
  format:
    name: Format code
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Installing formatting tools
      run: |
        sudo apt-get update
        sudo apt-get purge -y clang-10 clang-format-10 clang-11 clang-format-11
        sudo apt-get install clang-format-12
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-12 100
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-12 100
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-12 100
    - name: Test building
      run: ./compile.sh
    - name: Formatting code
      run: clang-format -i wl/*/*.java
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "Your code was automatically formatted."
        file_pattern: list* wl/*/*.java
