name: Update Translations
on:
  schedule:
    # Daily at 3:00 a.m.
    - cron: '0 3 * * *'
jobs:
  update_translations:
    name: Update Translations
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Installing gettext
      run: sudo apt-get install gettext
    - name: Transifex integration
      run: |
        git fetch origin transifex
        git checkout master
        git merge --squash origin/transifex
    - name: Synchronizing translations
      run: |
        javac *.java
        ./buildcats.sh
    - name: Pushing Changes
      run: |
        if [ -z "$(git status -s i18n)" ]
        then
          echo "Nothing to push"
          exit 0
        fi
        git config --global user.name "The Widelands Code Formatting Bot"
        git config --global user.email "bunnybot@widelands.org"
        git add .
        git commit -m "Automated translations update"
        git push origin master
        git checkout transifex
        git merge master
        git push origin transifex
