name: Update Translations
on:
  workflow_dispatch:
  schedule:
    # Daily at 3:00 a.m.
    - cron: '0 3 * * *'
jobs:
  update_translations:
    name: Update Translations
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Installing dependencies
      run: sudo apt-get install gettext transifex-client
    - name: Synchronizing translations
      run: |
        echo "${{ secrets.TXAUTH }}" > ~/.transifexrc
        git config --global user.name "The Widelands Translations Bot"
        git config --global user.email "bunnybot@widelands.org"
        javac *.java
        tx pull -fa
        ./buildcats.sh
        if [ ${{ github.event_name }} == "workflow_dispatch" ] || [ -n "$(git status -s i18n)" ]
        then
          git add .
          git commit -m "Automated translations update"
          git push origin master
        fi
        tx push -s
